mixin caseStudyBlock(href, imgSrc, title, tags)
  a(href=href)
    .row
      .col-lg-6.col-lg-offset-0.col-sm-8.col-sm-offset-2
        img.img-responsive(src=imgSrc)

      .col-lg-6.col-lg-offset-0.col-sm-8.col-sm-offset-2
        .copy
          h2= title
          p.categories= tags.join(" / ")
          hr
          block
          button.reveal.btn-elcg.btn Click to see more&hellip;
