mixin caseStudyBlock(href, imgSrc, title, tags)
  a.gig(href=href)
    .row
      .col-lg-6
        img.img-responsive(src=imgSrc)

      .col-lg-6
        .copy
          h2= title
          p.categories= tags.join(" / ")
          hr
          block

      //button.reveal.btn-elcg.btn.cta Click to see more&hellip;
