.portfolio-hexes
  .hexes.row.alt
    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a(href="/ahlure").red.hex-box.dj-ahlure
      .hex-1
      .hex-2
      span DJ Ahlure

    a(href="/tarboosh").red.hex-box.tarboosh
      .hex-1
      .hex-2
      span Tarboosh

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

  .hexes.row
    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a(href="/graphic-design").red.hex-box.graphic-design
      .hex-1
      .hex-2
      span Graphic Design

    a().hex-box.elcg.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

  .hexes.row.alt
    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a(href="/cafedelight").red.hex-box.cafe-de-light
      .hex-1
      .hex-2
      span Cafe de Light

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2

    a().hex-box.red.visible-lg
      .hex-1
      .hex-2
