section.how-we-work
  .text-center
    .skew-me
      .skew-you
      h1 How We Work

  .container
    .row
      .col-sm-12
        ol.how-we-work-steps
          li We meet with you to figure out what you want
          li We make a plan for you
          li We write a contract and review it together
          li We do the job
          li You pay us
