section.how-we-work
  .text-center
    .skew-me
      .skew-you
      h1 How We Work

  .container
    ol.how-we-work-steps
      .row
        .col-md-6
          li.work-step
            h2 Contact <span class="ampersand">&amp;</span> Create
            p.
              Once we've connected with you, we collaborate and establish the
              framework of your project.

        .col-md-6
          li.work-step
            h2 Design <span class="ampersand">&amp;</span> Develop
            p.
              Taking the information from the Project Planner, we turn your
              ideas into amazing, tangible designs.

      .row
        .col-md-6.col-md-offset-3
          li.work-step
            h2 Strategy <span class="ampersand">&amp;</span> Support
            p.
              We offer you a variety of tools and services to make sure your
              project remains in tip-top shape.
