.masthead
  //h1 WE ARE WEB CRAFTSMEN

  h2 WE ARE #[br] ELLIOTT &amp; LORENSON

  +carousel("carousel-main", [
    {src: "/img/carousel-img.jpg", alt: "Web Design", flavor: "WE ARE WEB CRAFTSMEN"},
    {src: "/img/carousel-img.jpg", alt: "", flavor: "WE ARE DESIGNERS"},
  ])
