.angle-border
  img(src="/img/angle_border.svg")

section.services
  .container
    .row
      .col-sm-12.text-center
        h1 Our Services

    .row
      .col-lg-6
        h2 Web Design and Development
        .wrap.web-design
          img.img-responsive.center-block(src="/img/svg/web_design.svg")

      .col-lg-6
        h2 Branding
        .wrap.branding
          img.img-responsive.center-block(src="/img/svg/branding.svg")

    .row
      .col-lg-6
        h2 Social Media Marketing
        .wrap.social-media
          img.img-responsive.center-block(src="/img/svg/social_media.svg")

      .col-lg-6
        h2 Print Media Design
        .wrap.print-media
          img.img-responsive.center-block(src="/img/svg/print_media.svg")
