.angle-border
section.services
  .container
    .row
      .col-sm-12.text-center
        h1 Our Services

    .row
      .col-sm-6
        h2 Web Design and Development
        .wrap.web-design

      .col-sm-6
        h2 Branding
        .wrap.branding

    .row
      .col-sm-6
        h2 Social Media Marketing
        .wrap.social-media

      .col-sm-6
        h2 Print Media Design
        .wrap.print-media

