include caseStudyMixin

section#our-work.our-work
  .text-center
    .skew-me
      .skew-you
      h1 Current Projects

  .container-fluid
    .current-gigs
      +caseStudyBlock("http://championshiptrophyfit.com", "/img/index/ctf.jpg", "Championship Trophy Fit", ["Branding", "Web Design", "Strategy"])
        p.
          We're flexing our creative muscles to brand a personal trainer's foray into creating his fitness empire.

      +caseStudyBlock("", "/img/index/calm_creative.jpg", "Calm Collective", ["Logo Design"])
        p.
          We did a re-work of the logo for a local production crew that is quickly amassing global appeal.
      +caseStudyBlock("", "/img/index/kw_screen.png", "The KW Report", ["Print Design", "Web Design"])
        p.
          We're building a high fashion media empire, one magazine issue
          at a time.

      +caseStudyBlock("http://eyesupforksdown.com", "/img/index/eufd_screen.png", "Eyes Up, Forks Down", ["Web Design", "Branding", "Strategy"])
        p.
          We're laying the foundation for a profitable teaching and consulting
          business for a certified etiquette coach.

      +caseStudyBlock("", "/img/index/lees_screen.png", "Lee's Salon", ["Web Design", "Marketing"])
        p.
          Sometimes you just need a total redesign to bring your salon's image up to a modern, beautiful standard.

