include caseStudyMixin

section#our-work.our-work
  .text-center
    .skew-me
      .skew-you
      h1 Our More Recent Projects

  .container-fluid
    .current-gigs
      +caseStudyBlock("/", "/img/index/kw_screen.jpg", "The KW Report", ["Print Design", "Web Design"])
        p.
          We're building a high fashion media empire, one issue
          at a time.

      +caseStudyBlock("", "/img/index/eufd_screen.png", "Eyes Up, Forks Down", ["Web Design", "Branding", "Strategy"])
        p.
          We're laying the foundation for a profitable consulting business
          for our client, Pat Woods.

      +caseStudyBlock("", "/img/index/lees_screen.jpg", "Lee's Salon", ["Web Design", "Marketing"])
        p.
          Sometimes you just need a total redesign.

