section#our-work.our-work
  .text-center
    .skew-me
      .skew-you
      h1 Our More Recent Projects

  .container-fluid
    .current-gigs
      a(href="")
        .row
          .col-sm-6
            img.img-responsive(src="/img/index/eufd_screen.png")

          .col-sm-6
            .copy
              h2 Eyes Up, Forks Down
              p.categories Design / Branding / Strategy
              p.
                We're laying the foundation for a profitable consulting business
                for our client, Pat Woods.

      a(href="")
        .row
          .col-sm-6
            img.img-responsive(src="/img/index/lees_screen.jpg")

          .col-sm-6
            .copy
              h2 Lee's Salon
              p.categories Design / Marketing
              p.
                Sometimes you just need a total redesign.

              button.reveal.btn-elcg.btn Click to see more&hellip;

      a(href="")
        .row
          .col-sm-6
            img.img-responsive(src="/img/index/kate_screen.png")

          .col-sm-6
            .copy
              h2 Kate Dyer for Judge
              p.categories Design / Marketing / Strategy
              p.
                Social media is some of the cheapest, most efficient marketing
                out there, second only to word of mouth.

              button.reveal.btn-elcg.btn Click to see more&hellip;

    .row
      .col-sm-12
        h2
          a(href="") There's more where that came from&hellip;

