section.project-planner-cta
  .container
    .row
      .col-sm-12.text-center
        h1 We can help you with your next project
        h2 Take the first step with our Project Planner

        +bigButton("/planner", "Launch Our Project Planner")(class="center-block")

