section.project-planner-cta
  .container
    .row
      .col-sm-12.text-center
        .wrap-wrap
          .wrap
            h1 Our collaboration begins here

            +bigButton("/planner", "Launch Our Project Planner")(class="center-block")

            p.lead.
              Use our project tool to put your ideas in motion.
