section.project-planner-cta
  .container
    .row
      .col-sm-12.text-center
        .wrap-wrap
          .wrap
            h1 Our collaboration begins here

            a(href="/planner")
              button.btn.btn-elcg-lg.center-block(type="button")
                span Launch <span class="hidden-xs clean">our</span> project planner

            p.lead.
              Use our project tool to put your ideas in motion.
