ul.hidden-md.hidden-lg
  li
    a(href="/case-studies/cafe")
      img(src="/img/cafe-sm.png")
      span Cafe de Light
  li
    a(href="/case-studies/tarboosh")
      img(src="/img/tarboosh-sm.png")
      span Tarboosh Mediterranean Cuisine
  li
    a(href="/case-studies/ahlure")
      img(src="/img/ahlure-sm.png")
      span DJ Ahlure
  li
    a(href="/graphic-design")
      img(src="/img/graphic-design-sm.png")
      span Graphic Design

ul.hidden-xs.hidden-sm
  include hexes.jade
