@phone: 360px;
@tablet: 768px;
@medium: 992px;
@large: 1200px;

@black-alpha: rgba(0, 0, 0, 0.8);
@nav-bg: @black-alpha;
@welcome-bg: @black-alpha;

@black: #000;
@nav-bg-fallback: @black;
@welcome-bg-fallback: @black;
@footer-bg: @black;
@body-bg: @black;

@grey: #444;

@white: #efefef;
@welcome-fg: @white;
@form-fg: @white;

@red: #880000;
@nav-hover-fg: @red;

@err-red: #fc3232;
@form-focus: @err-red;
@form-error: @err-red;

@blue: #3dfffb;
@form-success: @blue;

@import 'util.less';
@import 'footer.less';

html { min-height: 100%; position: relative; }

body {
    background-color: @body-bg;
    //padding-top: 90px;
    border-top: 70px solid black;
    margin-bottom: 450px;

    @media (min-width: @tablet) {
        border-top: 150px solid black;
        //padding-top: 70px;
    }
}

.navbar-elcg {
    background-color: @nav-bg-fallback;
    background-color: @nav-bg;
    margin-bottom: 0;

    @media (min-width: @tablet) {
        padding-bottom: 1em;
        padding-top: 1em;
        height: 150px;
    }

    li > a {
        font-size: 22px; 
        color: @white;
        &:active, &:hover {
            background-color: @nav-bg-fallback;
            background-color: @nav-bg; 
            color: @nav-hover-fg;

        }
    }
}

header {
    height: 600px;
    background-image: url('/img/city_banner.jpg');
    background-position: center center;
    position: relative;

    .welcome {
        margin-top: 5em;
        background-color: @welcome-bg-fallback;
        background-color: @welcome-bg;
        color: @welcome-fg;
        padding: 2em;

        h1 { margin: 0; font-size: 60px; }
        h2 { font-size: 54px; } 
        p { font-size: 18px; }
    }

}
