@phone: 360px;
@tablet: 768px;
@medium: 992px;
@large: 1200px;

@black-alpha: rgba(0, 0, 0, 0.8);
@nav-bg: @black-alpha;
@welcome-bg: @black-alpha;
@bio-bg: @black-alpha;
@case-study-link-bg: @black-alpha;
@services-shadow: @black-alpha;

@black: #000;
@nav-bg-fallback: @black;
@welcome-bg-fallback: @black;
@footer-bg: @black;
@body-bg: @black;
@bio-bg-fallback: @black;
@case-study-link-bg-fallback: @black;
@services-border: @black;

@maroon: #1d0202;
@portrait-shadow: @maroon;

@pink: #7D1A77;
@services-color: @pink;

@grey: #efefef;

@off-black: #424344;

@white: #eee;
@welcome-fg: @white;
@form-fg: @white;
@p-color: @white;

@red: #880000;
@hex-bg: @red;

@err-red: #fc3232;
@form-error: @err-red;

@blue: #3dfffb;
@form-focus: @blue;
@form-success: @blue;
@btn-border: @blue;
@btn-color: @blue;
@section-head-color: @blue;
@the-word-you: @blue;
@nav-hover-fg: @blue;
@anchor-color: @blue;

@border-nav-connection: 119px;

@import 'scaffolding.less';
@import 'util.less';
@import 'footer.less';
@import 'about.less';
@import 'hexes.less';

.masque.active {
    background-color: black;  
    background-image: url('/img/logo_nav.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100000;
}

body {
    background-image: url('/img/lead-bg.jpg');
    background-position: center -310px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 70px solid black;
    position: relative;

    @media (min-width: @tablet) {
        border-top: @border-nav-connection solid black;
    }
}

.navbar-elcg {
    background-color: @nav-bg-fallback;
    background-color: @nav-bg;
    margin-bottom: 0;

    @media (min-width: @tablet) {
        padding-bottom: 1em;
        padding-top: 1em;
        height: @border-nav-connection;
    }

    li > a {
        .engravers;
        text-align: center;
        font-size: 22px; 
        color: @white;
        &:active, &:hover {
            background-color: @nav-bg-fallback;
            background-color: @nav-bg; 
            color: @nav-hover-fg;

        }
    }
}

section h2 {
    color: @section-head-color;
    border-bottom: 1px solid @section-head-color;
    padding-bottom: 5px;
    font-size: 36px;
}

header {
    //height: 600px;
    position: relative;
    padding-bottom: 7em;

    .welcome {
        margin-top: 5em;
        background-color: @welcome-bg-fallback;
        background-color: @welcome-bg;
        color: @welcome-fg;
        padding: 2em;

        h1 {
            margin-top: 0;
            font-size: 30px;
            border-bottom: 1px solid @white;
            .ampersand {
                font-size: 25px; 
            }

            @media (min-width: @tablet) {
                width: 70%;
            }
        }

        h2 { font-size: 54px; } 
        p { font-size: 20px; }
        .red { color: @the-word-you; }
    }
}


.our-work {
    padding-top: 6em;
    padding-bottom: 6em;

    .top-clients {
        padding-top: 40px;
    }

    ul { 
        padding: 0;
        overflow: hidden;

        li {
            position: relative;
        }

        span {
            position: absolute; 
            top: 25%;
            width: 100%;
            text-align: center;
            background-color: @case-study-link-bg-fallback;
            background-color: @case-study-link-bg;
            font-size: 20px;
        }
    }
}

.services-container {
    padding-top: 4em;
    padding-bottom: 5em;
    background: black;


    .our-services {
        padding: 40px;
        padding: 0; 
        .engravers;
        color: @services-color;
        width: 86%;
        margin: 0 auto;
            
        li {
            font-size: 24px;
            padding-top: 60px;

            h3 {
                text-transform: uppercase;
            }
        }

        li.alt {
            text-align: right; 
        }
    }
}

