doctype html
html
  head
    title ELCG
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="ID=edge")
    meta(name="viewport", content="inital-scale=1, width=device-width")

    link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")

    script(type="application/javascript", src="/js/vendor/respond.min.js")

  body

    include includes/nav
    block body 
    

    script(type="text/javascript", src="/js/vendor/jquery-2.1.0.min.js")
    script(type="text/javascript", src="/js/vendor/bootstrap.min.js")
