!!!5
html
  head
    title #{title}
    link(rel="stylesheet", href="/css/base.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/skeleton.css")

    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="initial-scale=1")

    link(rel="shortcut icon", href="/img/favicon.ico")
    script(src="/js/vendor/modernizr.custom.70416.js")

  body
    div.page-wrap
      nav#navbar.navbar(role="navigation")
        ul
          li
            a(href="#") Home
          li
            a(href="#") Our Portfolio

      div#left-panel.left-panel
        header.logo-container
          img(src="/img/el_header_logo.png")
        #nav-button.nav-button Menu

      block content

    script(src="/js/vendor/zepto.js")
    script(src="/js/main.js")

