doctype html
html
  head
    title ELCG
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="ID=edge")
    meta(name="viewport", content="initial-scale=1, width=device-width")

    //meta(property="og:title", content="")
    meta(property="og:site_name", content="E|L Creative Group")
    meta(property="og:description", content="")
    meta(property="og:url", content="http://elcreativegroup.com")
    // 1200x630
    meta(property="og:image", content="")

    link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")

    script(type="application/javascript", src="/js/vendor/respond.min.js")

  body()
    #masque.active

    include includes/nav
    #skrollr-body
      block body
      include includes/footer

    script(type="text/javascript", src="/js/vendor/jquery-2.1.0.min.js")
    script.
      $(window).load(function (e) {
        $('#masque').fadeOut(600, function () {
            $('#masque').removeClass('active')
        })
        console.log("timer")
      })

    script(type="text/javascript", src="/js/vendor/bootstrap.min.js")
    script(type="text/javascript", src="/js/vendor/skrollr.min.js")
    script(type="text/javascript", src="/js/main.js")
