doctype html
html
  head
    title Elliott &amp; Lorenson Creative Group
    meta(charset="utf-8")
    meta(name="description", content="We are a design firm specializing in high fashion, lifestyle, and boutique brands.")
    meta(http-equiv="X-UA-Compatible", content="ID=edge")
    meta(name="viewport", content="initial-scale=1, width=device-width")

    meta(property="og:title", content="E|L Creative Group")
    meta(property="og:site_name", content="E|L Creative Group")
    meta(property="og:description", content="We are a design firm specializing in high fashion, lifestyle, and boutique brands.")
    meta(property="og:url", content="http://elcreativegroup.com")
    meta(property="og:type", content="company")
    meta(property="fb:admins", content="100004171691687")
    // 800 x 800
    meta(property="og:image", content="http://elcreativegroup.com/img/elcg_og.png")

    link(rel="stylesheet", href="/css/vendor/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")

    script(type="application/javascript", src="/js/vendor/respond.min.js")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41485517-7', 'auto');
      ga('send', 'pageview');

    block head

  body()
    #masque.active

    include includes/nav
    #skrollr-body
      block body
      include includes/footer

    script(type="text/javascript", src="/js/vendor/jquery-2.1.0.min.js")
    script.
      $(window).load(function (e) {
        $('#masque').fadeOut(600, function () {
            $('#masque').removeClass('active')
        })
        console.log("timer")
      })

    script(type="text/javascript", src="/js/vendor/bootstrap.min.js")
    script(type="text/javascript", src="/js/vendor/skrollr.min.js")
    script(type="text/javascript", src="/js/main.js")
