extends layouts/base
block content
  #right-panel.right-panel.case-study.ahlure
    .container
      .leader.row
        .col-12
          h1 Blending Professionalism and Style
          p.deck.
            We created a marketing site for Alex, the designer half of
            our partnership, who moonlights as a DJ.
          hr

      .content
        .row
          .col-6
            p.
              Alex loves music, and he loves fashion, so we knew his site
              needed to be awesome and fucking cool looking.

          .col-6
            img.img-responsive(src="http://placehold.it/600x400")

        .row
          .col-5
            img.img-responsive(src="http://placehold.it/600x400")

          .col-7
            p.
              But being a professional DJ is as much business as it is fun,
              and Alex's web presence needed to reflect that. To that end,
              we cooked up a design that is eye-catching and refined...

        .row
          .col-6
            p.
              ...and of course, responsive. It's absolutely important to
              ensure that your site is mobile friendly, and Alex never misses
              out on a lucrative DJing gig simply because his site is
              inaccessable to mobile.

          .col-6
            img.img-responsive(src="http://placehold.it/300x400")
