extends layouts/base
block content
  #right-panel.right-panel.case-study.ahlure
    .ahlure.content.container
      .leader.row
        .col-sm-12
          h1 Blending Professionalism and Style
          p.deck.
            We created a marketing site for Alex, the designer half of
            our partnership, who moonlights as a DJ.
          hr

      .content
         .row
           .col-sm-12
             h3.text-center.
              This was my DJ website.

         .row
           .col-sm-12
             img.img-responsive(src="/img/ahlure/ahlure-old-full.png")


         .row
           .col-sm-12
             p.text-center.
              My bland, lifeless website.

             p.text-center.
              I knew that if I wanted to expand my reach to new clients and
              promoters, I’d have to put a little more effort into visually
              explaining my brand, while also keeping it really simple.


        .row
          .col-sm-12
            h3.text-center This is Chris.
            img.center-block.img-responsive(src="/img/ahlure/layton.jpg")

        .row
          .col-sm-12
            p.text-center.
              He’s been a friend of mine for quite a while, and has cultivated
              himself into an awesome photographer. His distinct style and
              handling of his media is instantly recognizable, and I felt that
              adding him to this project would really give it the “spark” it
              was missing.

        .row
          .col-sm-12
            img.center-block.img-responsive(src="/img/ahlure/laytons-work.gif")

        .row
          .col-sm-12
            p.text-center.
              After Nick implemented the parallax effect on the speaker and
              main header photo, I let Chris‘ photos occupy all the rest of the
              site. In addition, he is excellent at video editing, so I also
              added a bit of material he recorded from some of the events I’ve
              thrown. The new iteration of Ahlure.net has been met with much
              positivity, and has garnered me a few new opportunities in a
              short span of time!

        .row
          h2 WOOOO Prime Time Now BABY
          .col-sm-12
            img.img-responsive(src="/img/ahlure/ahlure-stretch.png")
