extends layouts/base
block content
  #right-panel.right-panel.case-study.ahlure
    .ahlure.content.container
      .leader.row
        .col-sm-12
          h1 Blending Professionalism and Style
          p.deck.
            We created a marketing site for Alex, the designer half of
            our partnership, who moonlights as a DJ.
          hr

      .content
         .row
           .col-sm-12
             img.img-responsive(src="/img/ahlure/ahlure-old-full.png")

        .row
          .col-sm-8
            img.img-responsive(src="/img/ahlure/layton.jpg")

        .row
          .col-sm-10
            img.center.img-responsive(src="/img/ahlure/laytons-work.gif")

        .row
          .col-sm-6
            p.
              We hired this guy and his awesome camera.

        .row
          h2 WOOOO Prime Time Now BABY
          .col-sm-12
            img.img-responsive(src="/img/ahlure/ahlure-stretch.png")
