extends layouts/base
block content
  #right-panel.right-panel
    .cafedelight.container
      .head
        h1 Cafe De Light

    .cafedelight.banner

    p.cafedelight.caption.
      We were instrcuted to make an awesome, budget-friendly marketing
      website for a local coffee shop with an emphasis on "movement". 



   // custom video wok for a gif
   // a quality marketing page with custom imagery and parallax effects
   // light and fast
   // instructed to make an "awesome, budget-friendly website with an added
   // emphasis on 'movement'"
   // tied to coffee company's branding for marketing boost
   // menu section for customer convenienc
   .cafedelight.container
     .row
       .col-sm-7
         h2 Custom
