extends layouts/base
block content
  #right-panel.right-panel
    .cafedelight.content.container
      h1.text-center Cafe De Light

    .cafedelight.banner

    .cafedelight.content.container
      p.caption.
        We were instrcuted to make an awesome, budget-friendly marketing
        website for a local coffee shop with an emphasis on "movement". 


    .cafedelight.content.container
     .row
       .col-sm-7
         h2 
         p.
           So we created an online experience tailored to Cafe de Light's 
           ideal customer: the Austin Peay State University student.

       .col-sm-5
         img(src="http://placehold.it/300x250")

