extends layouts/base
block content
  #right-panel.right-panel
    .cafedelight.content.container
      h1.text-center Cafe De Light

    .cafedelight.banner

    .cafedelight.content.container
      p.caption.
        We were instrcuted to make an awesome, budget-friendly marketing
        website for a local coffee shop with an emphasis on "movement". 


    .cafedelight.content.container
     .row
       .col-sm-12
         img.img-responsive(src="/img/cdl-casestudy-parallax.gif")

     .row
       .col-sm-12
         p.
           So we created an online experience tailored to Cafe de Light's 
           ideal customer: the Austin Peay State University student.

     .row
       h3.text-center Movement
       .col-sm-5
          p.
            Wabba babba boo dang we hot watcha gone dew

       .col-sm-7
         img.img-responsive(src="/img/gif-sketch.png")

     .row
       .col-sm-4
         p.
           Yeah buddy you know how we like the wah tah

       .col-sm-8
         img.img-responsive(src="/img/cdl-water.gif")

      .row
        .col-sm-12
          p.text-center The finished product

      .row
        .col-sm-12
          img.img-responsive(src="/img/cdl-drip.gif")

      .row
        h3.text-center Responsive
        .col-sm-6
          img.img-responsive(src="/img/espresso.jpg")

        .col-sm-6
          p.
            Everybody and their mother is using their phones to find places
            to eat, drink, and hang out, so a responsive website that serves
            both desktop and mobile browsers was part of the strategy from
            day one.
