extends layouts/base
block body
  section.faq 
    .container
      .row
        .col-sm-12
          h1 Some Frequently Asked Questions

      .row
        .col-sm-8.col-sm-offset-2
          ul
            li
              h3.question.
                Who are you?
              p.answer.
                Click <a href="/about-us">here</a> to read our bios!

            li
              h3.question.
                What types of things do you create?
              p.answer.
                As a full-service team, we can design anything -
                from small projects like invitations and business
                cards, all the way up to visually complex, elaborate
                web sites. And everything inbetween! 

            li
              h3.question.
                How much do you cost? What are you rates?
              p.answer.
                Good question. We recommend that you call us at
                (931) 334-1009 to give us a good idea of what you’re
                looking to have done. All of our work is
                custom-made, meaning no one project - or price - is
                the same. 

            li
              h3.question.
                How long does it usually take to complete a project?
              p.answer.
                Typically, most small to medium-sized projects can
                be done within a month. Larger projects may require
                additional time, depending on the complexity of the
                work involved. If there are any necessary delays
                (like having to wait a certain day for photography,
                as an example), those will have to be factored into
                the anticipated period of completion.

            li
              h3.question.
                What will you need from me?
              p.answer.
                Mainly, your cooperation and ideas. In order to
                deliver the best product to our clients, we find it
                very helpful for you to be vocal with your desires,
                likes, and dislikes. That open dialogue is
                imperative to making sure everyone remains happy.
                Having pride in the final product ensures that it
                will receive maximum exposure for whatever it is
                you’re using it for, because you’ll find sharing it
                to be an easy thing to do!

            li
              h3.question.
                How can I pay for all this?
              p.answer.
                We accept many forms of payment, including cash,
                checks, debit cards and credit cards. Please note
                that the use of a card will incur an additional 3%
                fee in order to cover processing fees from your
                card’s vendor. 

