extends layouts/base
block content
  div#right-panel.right-panel.index
    .bg-wrappa
      .index.container
        div.head
          h1 CREATED WITH YOU IN MIND
          hr

        p.deck
          | Welcome! We are Elliott &amp; Lorenson, genie and wizard,
          | respectively. We are mythical creatures, but we're
          | also very approachable.  Talk to us!

        p
          | Working together as a designer and a developer, we are a skilled
          | and experienced design agency specializing in branding, beauty,
          | and skilled marketing.

        p
          | If you are starting a business and need help defining your voice
          | or have been around the block but need help retargeting or
          | freshening up your brand, take a look at our portfolio and give
          | us a call.

    p#portfolio.lead.align-center Take a look at our work.  We feel it speaks for itself.

    .portfolio-hexes
      .hexes.row.alt
        a(href="#").cafe-de-light.hex-box.alt
          span DJ Ahlure
          .hex-1
          .hex-2

        a(href="#").cafe-de-light.hex-box.alt
          span DJ Ahlure
          .hex-1
          .hex-2

        a(href="/tarboosh").tarboosh.hex-box
          .hex-1
          .hex-2
          span Tarboosh Clarksville

        a(href="#").dj-ahlure.hex-box
          .hex-1
          .hex-2
          span DJ Ahlure

        a(href="#").cafe-de-light.hex-box.alt
          span DJ Ahlure
          .hex-1
          .hex-2

      .hexes.row
        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2

      .hexes.row.alt
        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").cafe-de-light.hex-box.alt
          span Cafe de Light
          .hex-1
          .hex-2


    .index.container
      div.contact-cta
        h2 You should call us.
        h2 (931) 334 1009
