extends layouts/base
block body
  header
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .welcome.text-center
            h1.center-block Elliott <span class="ampersand">&amp;</span> Lorenson
            h2.spaced-out created with <span class="red engravers">you</span> in mind
            p.
              Thanks for stopping by! We’re Elliott and Lorenson, a
              Clarksville, TN based design firm specializing in
              creating custom content from the ground-up, ensuring a
              product that is as unique as you can imagine.  Whether
              it’s a website, print media, specific marketing or an
              entire branding campaign, our work together as a
              graphic design/developer team with over 15 years of
              combined experience is at your service.

            p.
              We want to make your projects stand out. We want you
              to share it, and be proud of it. Take a look at our
              portfolio, and let us know when you’re ready to have
              us elevate your creative ideas to new heights.

            p  Thank you for your business, 
            p Alexander &amp; Nick

  section.about-us
    .container
      .row
        .col-sm-12.text-center
          h1 Who We Are
      .row
        .col-sm-6.alex
          .bio
            h2.text-center W.A. Elliott
            p.
              Alexander has been a resident of Clarksville, TN for over 20
              years. His strong background in graphic design and advertising
              has spanned over 10 years. A graduate of Austin Peay State
              University, he has a degree in marketing. During college, he
              started designing logos and business cards for friends, which
              eventually led to the formation of W. Alexander Designs, his
              own independent graphics venture. He also began to expand into
              print media, which cultivated into an award-winning term as a
              writer and Advertising Manager for APSU’s student newspaper.
              These successes translated into a great opportunity for him to
              move to New York City, where he became an Advertising Executive
              for Village Voice Media, LLC. He ran into Nick when he returned
              to Clarksville; a synergy was created, and a new journey
              began!

            p.
              When he’s not designing, you can catch Alexander
              hosting/performing parties as <a href="http://ahlure.net">DJ Ahlure</a>,
              rock climbing, or out at a myriad of social events in the mid-south.

        .col-sm-6.nick
          .bio
            h2.text-center N.E. Lorenson
            p.
              As an exiled son of Mars, Nick has spent his time on Earth
              studying application and UX design, programming, SEO, and the
              inner workings of the Internet.  Deep down, he’s a decent guy
              that dreams of one day returning home to be among his people.
              Until then, he builds websites, brainstorms interesting
              solutions for your problems, and spends his free time riding
              his bicycle around town.  Such is the life of a magic man.

  section.services
    .container
      .row
        .col-sm-12.text-center
          h1 Our Services

      .row
        .col-sm-6
          .wrap
            h2 Web Design and Development

        .col-sm-6
          .wrap
            h2 Branding

      .row
        .col-sm-6
          .wrap
            h2 Social Media Marketing

        .col-sm-6
          .wrap
            h2 Print Media Design

  .angle-border
  section#our-work.our-work
    .container
      .row
        .col-sm-12.text-center
          h1 Our Work

      .row.text-center.top-clients
        .col-sm-4
          img.img-responsive(src="http://placehold.it/400x400")
          h1 The Kate Dyer Campaign
          p.lead The Campaign to Elect Kate Dyer Circuit Court Judge
          p.
            We were tasked with elevating the campaign to elect Kate Dyer to
            the seat of Circuit Court Judge in Clarksville.  We created an
            advertising campaign, we designed and built a beautiful website,
            integrated with a credit card processor, and helped Kate Dyer enjoy
            a powerful competitive edge on the Clarksville election battle ground.

        .col-sm-4
          img.img-responsive(src="http://placehold.it/400x400")
          h1 The Red River Sirens
          p.lead Local Roller Derby Extraordinaires
          p.
            'Anything you like,' said the Footman, and began whistling. 'Oh,
            there's no use in talking to him,' said Alice desperately: 'he's
            perfectly idiotic!' And she opened the door and went in. The door
            led right into a large kitchen, which was full of smoke from  one
            end to the other: the Duchess was sitting on a three-legged stool
            in  the middle, nursing a baby; the cook was leaning over the fire,
            stirring  a large cauldron which seemed to be full of soup.
            'There's certainly too much pepper in that soup!' Alice said to
              

        .col-sm-4
          img.img-responsive(src="http://placehold.it/400x400")
          h1 Job Example
          p.
             A rap at this moment sounded on the door of the cosy apartment where
             Phileas Fogg was seated, and James Forster, the dismissed servant,
             appeared. "The new servant," said he. A young man of thirty
             advanced and bowed. "You are a Frenchman, I believe," asked
             Phileas Fogg, "and your name is John?" "Jean, if monsieur
             pleases," replied the newcomer, "Jean Passepartout, a surname
             which has clung to me because I have a natural aptness for going
             out of one business into another.  I believe I'm honest, monsieur,
             but, to be outspoken, I've had several trades.  I've been an

