extends layouts/base
block content
  div#right-panel.right-panel.index
    .bg-wrappa
      .index.content.container
        h1.text-center CREATED WITH YOU IN MIND
        hr

        p.deck.
          Thanks for stopping by! We’re Elliott and Lorenson, a Clarksville, TN
          based duo who specialize in creating custom content from the
          ground-up, ensuring a product that is as unique as you can imagine.
          Maybe even a little more.

        p.
          Whether it’s a website, print media, specific marketing or an entire
          branding campaign, our work together as a graphic design/developer
          team with over 15 years of combined experience is at your service,
          and ready to help.

        p.
          We want to make your projects stand out. We want you to share it, and
          be proud of it. Take a look at our portfolio, and let us know when
          you’re ready to have us elevate your creative ideas to new heights.

        p.sig Thank you for your business, 
        h3.text-right Alexander & Nick

        hr

    #portfolio

    .index.content.container
      h2 Our Work

    .portfolio-hexes
      .hexes.row.alt
        a(href="#").hex-box.red
          span DJ Ahlure
          .hex-1
          .hex-2

        a(href="#").hex-box.red
          span DJ Ahlure
          .hex-1
          .hex-2

        a(href="/ahlure").hex-box.dj-ahlure
          .hex-1
          .hex-2
          span DJ Ahlure

        a(href="/tarboosh").tarboosh.hex-box
          .hex-1
          .hex-2
          span Tarboosh Clarksville

        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2

      .hexes.row
        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="/cafedelight").hex-box.cafedelight
          .hex-1
          .hex-2
          span Cafe de Light

        a(href="#").hex-box.elcg
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="/logos").hex-box
          .hex-1
          .hex-2
          span Logos and Branding

        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box.red
          span DJ Ahlure
          .hex-1
          .hex-2

      .hexes.row.alt
        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2


    .index.content.container
      div.contact-cta
        h2 You should call us.
        h2 (931) 334 1009
