extends layouts/base
block body
  header
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .welcome.text-center
            h1.center-block Elliott <span class="ampersand">&amp;</span> Lorenson
            h2.spaced-out created with <span class="red engravers">you</span> in mind
            p.
              Thanks for stopping by! We’re Elliott and Lorenson, a
              Clarksville, TN based design firm specializing in
              creating custom content from the ground-up, ensuring a
              product that is as unique as you can imagine.  Whether
              it’s a website, print media, specific marketing or an
              entire branding campaign, our work together as a
              graphic design/developer team with over 15 years of
              combined experience is at your service.

            p.
              We want to make your projects stand out. We want you
              to share it, and be proud of it. Take a look at our
              portfolio, and let us know when you’re ready to have
              us elevate your creative ideas to new heights.

            p  Thank you for your business, 
            p Alexander &amp; Nick

  section#our-work.our-work
    .container
      .row
        .col-sm-12.text-center
          h2 A Selection of Our Work

    .container-hexes.container
      .row
        .col-sm-12
          include includes/work-links

  section.services-container
    .container
      .row
        .col-sm-6.col-sm-offset-3.text-center.our-services
          h2 Our Services
          ul
            li logos
            li websites
            li business cards
            li posters
            li invitations
            li flyers
            li print ad campaigns
            li web ad campaigns
