extends layouts/base
block content
  div#right-panel.right-panel.index
    .bg-wrappa
      .index.content.container
        h1.text-center CREATED WITH YOU IN MIND
        hr

        p.deck.
          Welcome! We are Elliott &amp; Lorenson, genie and wizard,
          respectively. We are mythical creatures, but we're
          also very approachable.  Talk to us!

        p.
          Working together as a designer and a developer, we are a skilled
          and experienced design agency specializing in branding, beauty,
          and skilled marketing.

        p.
          If you are starting a business and need help defining your voice
          or have been around the block but need help retargeting or
          freshening up your brand, take a look at our portfolio and give
          us a call.

    h2#portfolio.lead.align-center Take a look at our work.  We feel it speaks for itself.

    .portfolio-hexes
      .hexes.row.alt
        a(href="#").hex-box.red
          span DJ Ahlure
          .hex-1
          .hex-2

        a(href="#").hex-box.red
          span DJ Ahlure
          .hex-1
          .hex-2

        a(href="/ahlure").hex-box.dj-ahlure
          .hex-1
          .hex-2
          span DJ Ahlure

        a(href="/tarboosh").tarboosh.hex-box
          .hex-1
          .hex-2
          span Tarboosh Clarksville

        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2

      .hexes.row
        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="/cafedelight").hex-box.cafedelight
          .hex-1
          .hex-2
          span Cafe de Light

        a(href="#").hex-box.elcg
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box.red
          span DJ Ahlure
          .hex-1
          .hex-2

      .hexes.row.alt
        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box
          span Cafe de Light
          .hex-1
          .hex-2

        a(href="#").hex-box.red
          span Cafe de Light
          .hex-1
          .hex-2


    .index.content.container
      div.contact-cta
        h2 You should call us.
        h2 (931) 334 1009
