extends layouts/base
block body
  .bg-wrap.index(data-start="background-position: -100px -200px;", data-end="background-position: -400px -700px;")
    header
      .container
        .row
          .col-sm-10.col-sm-offset-1
            .welcome.text-center
              h1.center-block Elliott <span class="ampersand">&amp;</span> Lorenson
              h2.spaced-out created with <span class="red engravers">you</span> in mind
              p.
                Thanks for stopping by! We’re Elliott and Lorenson, a
                Clarksville, TN based design firm specializing in
                creating custom content from the ground-up, ensuring a
                product that is as unique as you can imagine.  Whether
                it’s a website, print media, specific marketing or an
                entire branding campaign, our work together as a
                graphic design/developer team with over 15 years of
                combined experience is at your service.

              p.
                We want to make your projects stand out. We want you
                to share it, and be proud of it. Take a look at our
                portfolio, and let us know when you’re ready to have
                us elevate your creative ideas to new heights.

              p  Thank you for your business, 
              p Alexander &amp; Nick

    section#our-work.our-work
      .container
        .row
          .col-sm-12.text-center
            h1 Our More Recent Projects

        .current-gigs
          a(href="")
            .row.text-center
              .col-sm-7
                img.img-responsive(src="/img/index/eufd_screen.png")

              .col-sm-5.text-right
                h2 Eyes Up, Forks Down
                p.
                  We're laying the foundation for a profitable consulting business
                  for our client, Pat Woods.

          a(href="")
            .row
              .col-sm-5
                h2 Lee's Salon
                p.
                  Sometimes you just need a total redesign.

              .col-sm-7
                img.pull-right.img-responsive(src="/img/index/lees_screen.jpg")

          a(href="")
            .row
              .col-sm-7
                img.img-responsive(src="/img/index/kate_screen.png")

              .col-sm-5.text-right
                h2 Kate Dyer for Judge
                p.
                  Social media is some of the cheapest, most efficient marketing
                  out there, second only to word of mouth.

                p.reveal Click to see more&hellip;

        .row
          .col-sm-12
            h2
              a(href="") There's more where that came from&hellip;

    section.about-us
      .container
        .row
          .col-sm-12.text-center
            h1 Who We Are
        .row
          .col-sm-6.alex
            .bio
              h2.text-center W.A. Elliott
              p.
                Alexander has been a resident of Clarksville, TN for over 20
                years. His strong background in graphic design and advertising
                has spanned over 10 years. A graduate of Austin Peay State
                University, he has a degree in marketing. During college, he
                started designing logos and business cards for friends, which
                eventually led to the formation of W. Alexander Designs, his
                own independent graphics venture. He also began to expand into
                print media, which cultivated into an award-winning term as a
                writer and Advertising Manager for APSU’s student newspaper.
                These successes translated into a great opportunity for him to
                move to New York City, where he became an Advertising Executive
                for Village Voice Media, LLC. He ran into Nick when he returned
                to Clarksville; a synergy was created, and a new journey
                began!

              p.
                When he’s not designing, you can catch Alexander
                hosting/performing parties as <a href="http://ahlure.net">DJ Ahlure</a>,
                rock climbing, or out at a myriad of social events in the mid-south.

          .col-sm-6.nick
            .bio
              h2.text-center N.E. Lorenson
              p.
                As an exiled son of Mars, Nick has spent his time on Earth
                studying application and UX design, programming, SEO, and the
                inner workings of the Internet.  Deep down, he’s a decent guy
                that dreams of one day returning home to be among his people.
                Until then, he builds websites, brainstorms interesting
                solutions for your problems, and spends his free time riding
                his bicycle around town.  Such is the life of a magic man.


    .angle-border
    section.services
      .container
        .row
          .col-sm-12.text-center
            h1 Our Services

        .row
          .col-sm-6
            .wrap.web-design
              h2 Web Design and Development

          .col-sm-6
            .wrap.branding
              h2 Branding

        .row
          .col-sm-6
            .wrap.social-media
              h2 Social Media Marketing

          .col-sm-6
            .wrap.print-media
              h2 Print Media Design
