extends layouts/base
block content
  div#right-panel.right-panel
    div.leader
      h2 So creative it hurts
      p
        | We are an awesome freaking creative agency that strives in every
        | way possible to enhance your brand, empower your creative juggernaut,
        | and ensure your ability to affect total world domination.

      div.contact-cta
        h3 You should call us
        h3 (931) 334 1009

    div.portfolio
      h3 Take a look at our work.  We feel it speaks for itself

      ul.case-study-links
        li
          a(href="#").case-study-link.tarboosh-clarksville
            span Tarboosh Clarksville

        li
          a(href="#").case-study-link.dj-ahlure
            span DJ Ahlure

        li
          a(href="#").case-study-link.qaaw-dating
            span Quick As A Wink Dating
