extends layouts/base
block body
  header
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .welcome.text-center
            h1.center-block Elliott <span class="ampersand">&amp;</span> Lorenson
            h2.spaced-out created with <span class="red engravers">you</span> in mind
            p.
              Thanks for stopping by! We’re Elliott and Lorenson, a
              Clarksville, TN based design firm specializing in
              creating custom content from the ground-up, ensuring a
              product that is as unique as you can imagine.  Whether
              it’s a website, print media, specific marketing or an
              entire branding campaign, our work together as a
              graphic design/developer team with over 15 years of
              combined experience is at your service.

            p.
              We want to make your projects stand out. We want you
              to share it, and be proud of it. Take a look at our
              portfolio, and let us know when you’re ready to have
              us elevate your creative ideas to new heights.

            p  Thank you for your business, 
            p Alexander &amp; Nick

  section.services-container
    .container
      .row
        .col-sm-12
          h2 Our Services
          ul.our-services
            .row
              li.col-sm-3 logos
              li.col-sm-3 websites
              li.col-sm-3 business cards
              li.col-sm-3 posters
            .row
              li.col-sm-3 invitations
              li.col-sm-3 flyers
              li.col-sm-3 print ad campaigns
              li.col-sm-3 web ad campaigns

  section.top-clients
    .container
      .row
        .col-sm-4
          img.img-responsive(src="http://placehold.it/400x400")
          h1 Web Work
          p.
            "Mean or not mean, here we are at the ship." The boats were here
            hailed, to tow the whale on the larboard side, where fluke chains and
            other necessaries were already prepared for securing him. "Didn't I
            tell you so?" said Flask; "yes, you'll soon see this right whale's
            head hoisted up opposite that parmacetti's." In good time, Flask's
            saying proved true. As before, the Pequod steeply leaned over towards

        .col-sm-4
          img.img-responsive(src="http://placehold.it/400x400")
          h1 Web Work
          p.
            'Anything you like,' said the Footman, and began whistling. 'Oh,
            there's no use in talking to him,' said Alice desperately: 'he's
            perfectly idiotic!' And she opened the door and went in. The door
            led right into a large kitchen, which was full of smoke from  one
            end to the other: the Duchess was sitting on a three-legged stool
            in  the middle, nursing a baby; the cook was leaning over the fire,
            stirring  a large cauldron which seemed to be full of soup.
            'There's certainly too much pepper in that soup!' Alice said to
              

        .col-sm-4
          img.img-responsive(src="http://placehold.it/400x400")
          h1 Web Job
          p.
             A rap at this moment sounded on the door of the cosy apartment where
             Phileas Fogg was seated, and James Forster, the dismissed servant,
             appeared. "The new servant," said he. A young man of thirty
             advanced and bowed. "You are a Frenchman, I believe," asked
             Phileas Fogg, "and your name is John?" "Jean, if monsieur
             pleases," replied the newcomer, "Jean Passepartout, a surname
             which has clung to me because I have a natural aptness for going
             out of one business into another.  I believe I'm honest, monsieur,
             but, to be outspoken, I've had several trades.  I've been an

