extends layouts/base
block content
  div#right-panel.right-panel
    div.leader
      h1 So creative it hurts
      hr
      p
        | We are an awesome freaking creative agency that strives in every
        | way possible to enhance your brand, empower your creative juggernaut,
        | and ensure your ability to affect total world domination.

      p
        | Pug Brooklyn sustainable, flannel XOXO sed wayfarers mustache freegan
        | scenester eiusmod ethical brunch keytar. Proident polaroid mustache
        | church-key. Fap messenger bag 90's, put a bird on it Schlitz sunt Wes
        | Anderson. Sunt typewriter irony direct trade asymmetrical veniam
        | small batch post-ironic. Minim pickled tote bag kale chips vegan Blue
        | Bottle yr. Sed pariatur duis, seitan do Terry Richardson keffiyeh DIY
        | occupy Etsy pug Marfa vegan. Raw denim twee keytar Banksy, nesciunt
        | dolor kitsch XOXO Godard cred flexitarian. 

      p
        | Pug Brooklyn sustainable, flannel XOXO sed wayfarers mustache freegan
        | scenester eiusmod ethical brunch keytar. Proident polaroid mustache
        | church-key. Fap messenger bag 90's, put a bird on it Schlitz sunt Wes
        | Anderson. Sunt typewriter irony direct trade asymmetrical veniam
        | small batch post-ironic. Minim pickled tote bag kale chips vegan Blue
        | Bottle yr. Sed pariatur duis, seitan do Terry Richardson keffiyeh DIY
        | occupy Etsy pug Marfa vegan. Raw denim twee keytar Banksy, nesciunt
        | dolor kitsch XOXO Godard cred flexitarian. 

      div.contact-cta
        h3 You should call us
        h3 (931) 334 1009


    div.portfolio
      h3 Take a look at our work.  We feel it speaks for itself

      ul.case-study-links
        li
          a(href="#").case-study-link.tarboosh-clarksville
            span Tarboosh Clarksville

        li
          a(href="#").case-study-link.dj-ahlure
            span DJ Ahlure

        li
          a(href="#").case-study-link.qaaw-dating
            span Quick As A Wink Dating
