extends layouts/base
block content
  div#right-panel.right-panel
    .index.container
      div.head
        h1 CREATED WITH YOU IN MIND.
        hr
        p.deck.h3
          | Welcome! We are Elliott &amp; Lorenson, genie and wizard,
          | respectivley, and while we are mythical creatures, we're
          | also very approachable.  Talk to us!

        div.contact-cta
          h2 You should call us.
          h2 (931) 334 1009

      hr
      h2.align-center Take a look at our work.  We feel it speaks for itself

    ul.case-study-links
      li
        a(href="/tarboosh").case-study-link.tarboosh
          span Tarboosh Clarksville

      li
        a(href="#").case-study-link.dj-ahlure
          span DJ Ahlure

      li
        a(href="#").case-study-link.qaaw-dating
          span Quick As A Wink Dating
