extends layouts/base
block content
  div#right-panel.right-panel
    .index.container
      div.head
        h1 CREATED WITH YOU IN MIND
        hr

      p.deck
        | Welcome! We are Elliott &amp; Lorenson, genie and wizard,
        | respectively. We are mythical creatures, but we're
        | also very approachable.  Talk to us!

      p
        | Working together as a designer and a developer, we are a skilled
        | and experienced design agency specializing in branding, beauty,
        | and skilled marketing.

      p
        | If you are starting a business and need help defining your voice
        | or have been around the block but need help retargeting or
        | freshening up your brand, take a look at our portfolio and give
        | us a call.


      p#portfolio.lead.align-center Take a look at our work.  We feel it speaks for itself.

    ul.case-study-links
      li
        a(href="/tarboosh").case-study-link.tarboosh
          span Tarboosh Clarksville

      li
        a(href="#").case-study-link.dj-ahlure
          span DJ Ahlure

      li
        a(href="#").case-study-link.qaaw-dating
          span Quick As A Wink Dating

    .index.container
      div.contact-cta
        h2 You should call us.
        h2 (931) 334 1009
