extends layouts/base
block content
  div#right-panel.right-panel
    div.leader
      h1 CREATED WITH YOU IN MIND.
      hr
      p.deck
        | Not really.  Feels great, actually.  So good, in fact, that we want
        | to share.  Need a lift for your business?  Some juice for you brand?
        | A facelift for your site?  We'll put our awesome vibes to work for
        | you.

      p
        | Anderson. Sunt typewriter irony direct trade asymmetrical veniam
        | scenester eiusmod ethical brunch keytar. Proident polaroid mustache
        | dolor kitsch XOXO Godard cred flexitarian. 
        | Bottle yr. Sed pariatur duis, seitan do Terry Richardson keffiyeh DIY
        | occupy Etsy pug Marfa vegan. Raw denim twee keytar Banksy, nesciunt
        | Bottle yr. Sed pariatur duis, seitan do Terry Richardson keffiyeh DIY
        | small batch post-ironic. Minim pickled tote bag kale chips vegan Blue

      p
        | Pug Brooklyn sustainable, flannel XOXO sed wayfarers mustache freegan
        | scenester eiusmod ethical brunch keytar. Proident polaroid mustache
        | church-key. Fap messenger bag 90's, put a bird on it Schlitz sunt Wes
        | Anderson. Sunt typewriter irony direct trade asymmetrical veniam
        | small batch post-ironic. Minim pickled tote bag kale chips vegan Blue
        | Bottle yr. Sed pariatur duis, seitan do Terry Richardson keffiyeh DIY
        | occupy Etsy pug Marfa vegan. Raw denim twee keytar Banksy, nesciunt
        | dolor kitsch XOXO Godard cred flexitarian. 

      div.contact-cta
        h3 You should call us.
        h3 (931) 334 1009


    div.portfolio
      h2 Take a look at our work.  We feel it speaks for itself

      ul.case-study-links
        li
          a(href="").case-study-link.tarboosh-clarksville
            span Tarboosh Clarksville

        li
          a(href="#").case-study-link.dj-ahlure
            span DJ Ahlure

        li
          a(href="#").case-study-link.qaaw-dating
            span Quick As A Wink Dating
