article.kate-dyer
  h1 Dyer Job
  h2 The Committee To Elect Kate Dyer Circuit Court Judge

  h2 Basically We:
  ul
    li.
      Worked with her oganization to understand the nature of her platform and
      formulate a plane of attack for her campaign

    li.
      Used data from previous elections to segment Clarksville's population and determine
      the ideal recipients for Kate's message

    li.
      Managed an extensive digital marketing effort to spread the message of her
      campaign to the various segments of Clarksville's population

    li.
      Designed a custom website based on Kate's campaign that took donations, comments,
      and personal messages to Kate from her constituents.
