extends layouts/base
block body
  .bg-wrap.kate-dyer
    header.kate-dyer
      h1 The Campaign to Elect Kate Dyer Circuit Court Judge

    article.kate-dyer
        .container
          .row
            .col-sm-4
              h1 There's a first time for everything
              h2
              p.
                Kate approached us to help her boost her campaign's presence in Clarksville.
                Being unfamiliar with the web as a marketing tool but understanding the
                necessity of it, she asked us what we could do to make her more competitive
                against her better funded opponent.

              p.
                Our work on her campaign saw us use our skills for all kinds of things:

              ul
                li Print media design
                li Social media marketing
                li Website development and design
                li Data analysis working with county voting lists

            .col-sm-8
              img.img-responsive.center-block(src="/img/palm_card.png")

          .row
            .col-sm-4
              h2 Simple and Informative
              p.
                We built a simple, informative, responsive website to take donations,
                information from campaign volunteers, and to collect Kate's media
                appearences.

            .col-sm-8
              img.img-responsive.center-block(src="/img/kate_scroll.gif")


          .row
            .col-sm-4
              h2 Social Media Marketing
              p.
                We leveraged Kate's qualifications and personality to create a highly
                successful social media marketing campaign for her, ultimately reaching
                nearly <b>60,000</b> people.

            .col-sm-8
              img.img-responsive.center-block(src="/img/fb_reach.png")

          .row
            .col-sm-4
              h1 Marketing Is About People
              p.
                Our experience elevating Kate's campaign to be elected Judge allowed
                us the opportunity to hone our skills as marketers and designers,
                but it also drove the very personal side of marketing home.

              p.
                Marketing, be it for a product, political campaign, non-profit, or
                otherwise is all about the people involved.

            .col-sm-8
              img.img-responsive.center-block(src="/img/kate_and_john.jpg")
