extends layouts/base
block content
  #right-panel.right-panel
    .logos.content.container
      h1.text-center Logos and Branding

      .row 
        .col-sm-8
          img.img-responsive(src="/img/logos/chrislins.png")
        .col-sm-4
          p.
            Created this logo for a (cup)cake maker in Clarksville.
