extends layouts/base
block body
  .bg-wrap.our-work
    section.our-work
      .container
        .row
          .col-sm-12
            h1 Our Work
            ul
              li
                a() Eyes Up, Forks Down

              li
                a() Lee's Salon

              li
                a() Big Fish Limos

              li
                a(href="/our-work/kate-dyer-campaign") The Campaign to Get Kate Dyer Elected

              li
                a() Riverside Spine and Wellness

              li
                a(href="") The KW Report

              li
                a() The Red River Sirens

              li
                a() Lady Bug Bridal

              li
                a() Cafe de Light

              li
                a() Tarboosh Mediterranean Quisine

              li
                a() DJ Ahlure
