!!!5
html
  head
    link(rel='stylesheet', href='/css/palettes.css')
  body
    .swatch.one
      .card.six
      .card.five
      .card.two
      .card.one
      .card.three
      .card.seven

    .swatch
      .card.one
      .card.two
      .card.three
      .card.four
      .card.five

    .swatch
      .card.one
      .card.two
      .card.three
      .card.four
      .card.five
