extends layouts/base
block body
  .bg-wrap.rrs-project-file
    section
      .container
        .row
          .col-sm-6
            h1 Clarksville Roller Derby
            p.sub
              a(target="_blank", href="http://clarksvillerollerderby.com") Visit Site

            p.lead.
              The Red River Sirens, a Clarksville, TN based roller derby team, approached us
              to update their site and bring it up to speed with a professional 
              and goal oriented design.


          .col-sm-6
            h2 Before
            img.img-responsive(src="/img/project_files/rrs/before_screen.png")

    section
      .container
        .row
          .col-sm-6.col-sm-push-6
            h2 After
            img.img-responsive(src="/img/project_files/rrs/index_screen.png")

          .col-sm-6.col-sm-pull-6
            h2 Here's a rundown of what we did for the Sirens
            ul.what-we-did
              li Complete Redesign
              li Goal Oriented Site
              ul
                li Bout schedule - easy to find, read
                li New skater uptake - easy form, pretty, nice
                li New sponsor form - easy to use, pretty
              li Cut down the noise
              li Pro photography
              li Responsive! Phone and tablet friendly

        .row
          .col-sm-6.col-sm-offset-6
            img.img-responsive(src="/img/project_files/rrs/schedule_screen.png")
