extends layouts/base
block content
  #right-panel.right-panel
    .tarboosh.container
      .head
        h1 Tarboosh Clarksville

    .tarboosh.banner
    p.tarboosh.caption
      | Check out the work we did for Tarboosh Mediterranean Cuisine, a
      | local restaurant and hookah bar.


    .tarboosh.container
      .row
        .col-md-7
          h2 An Online Menu
          p
            | We were tasked with creating an easily navigable
            | menu for Tarboosh's delivery customers, so we tapped a mutual
            | friend and professional photographer, Lester Black, to shoot up the
            | food.

        .col-md-5
          img.img-responsive.float-right(src="/img/menu_page_600.png")


      .row
        .col-md-7.col-md-push-5
          h2 Custom Photography
          p
            | We collaborated with the restaurant's owner, Fatah Hantouli,
            | to deside on a look and feel for the site that represents the
            | atmosphere at his restaurant.

        .col-md-5.col-md-pull-7
          img.img-responsive.float-left(src="/img/more_arranging.png")

      .row.foot
        .col-md-12
          h2 Responsive
          p
            | Of course, with mobile traffic eclippsing desktop, the site had
            | to be responsive so busy business people and college kids could
            | order lunch on the go with their phones.

      .row
        .col-md-12
          img.except.center.img-responsive(src="/img/home_page_responsive_960.png")
