extends layouts/base
block body
  .bg-wrap.thanks
    section
      .container
        .wrap
          .row
            .col-sm-12.text-center
              h1 Thank you for your submission
              p.
                If you haven't already, take a look at <a href="/our-work">our work</a>,
                or connect with us on <a target="_blank" href="https://www.facebook.com/elcreativegroup">Facebook</a>.
