extends layouts/base
block body
  section#our-work.our-work
    .container
      .row
        .col-sm-12.text-center
          h2 A Selection of Our Work

    .container-hexes.container
      .row
        .col-sm-12
          include includes/work-links

