* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body { height: 100%; }

body,
h1,h2,h3,h4,h5,h6 {
    font-family: 'Helvetica', sans-serif !important;
}


/* Nav */
.nav-button {
    background: #444;
    color: #999;
    padding: 0.8em;
    display: inline-block;
    border-radius: 3px;
    border-bottom: 2px solid #555;
    &:active {
        background: #555;
        box-shadow: inset 0 0 4px 1px #333;
        border-bottom: none;
    }
}

.navbar[role="navigation"] {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.navbar[role="navigation"].active {
    height: 4em;
}

@media screen and (min-width: 767px) {
    .left-panel,
    .right-panel,
    .navbar[role="navigation"] {
        transition: margin 0.2s ease-out;
        -o-transition: margin 0.2s ease-out;
        -moz-transition: margin 0.2s ease-out;
        -webkit-transition: margin 0.2s ease-out;
    }

    .navbar[role="navigation"] {
        height: 100%;
        margin-left: -100%;
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 2em;
        padding-top: 2em;
    }

    .navbar[role="navigation"].active {
        margin-left: 0;
        height: 100%;
    }

    .left-panel.active {
        margin-left: 23%;
    }

    .right-panel.active {
        margin-right: -23%;
        float: right;
    }
}

/* Layout */
.page-wrap {
    height: 100%;
}

.left-panel {
    float: none;
    background: #bbb;
    background-image: url('/img/bg-panel.png');
    padding: 1em;
    h2 {
        color: #ddd;
    }
}

.right-panel {
    background: #ddd;
    min-height: 100%;
    float: none;
}

@media screen and (min-width: 767px) {
    .left-panel {
        border-right: 1px solid #888;
        width: 26%;
        height: 100%;
        position: fixed;
    }

    .right-panel {
        width: 74%;
        float: right;
        height: auto;
    }
}

/* Index */
.leader {
    text-align: center;
    padding: 1em 0 0 0;
}

.contact-cta {
    background: #eee;
    border-radius: 4px;
    padding: 2em;
}

@media screen and (min-width: 767px) {
    .leader {
        padding: 1em 2em 0 2em;
    }

    .contact-cta {
        width: 50%;
        margin: 0 auto;
    }
}


.portfolio {
    h3 {
        text-align: center;
        padding: 1em;
        margin: 0;
    }

    ul,
    ul li {
        margin: 0;
    }
}

.case-study-link {
    display: block;
    height: 7em;
    font-size: 18px;
    span {
        padding: 0 1em 0 1em;;
    }
    &:hover,
    &:active {
        background: #ccc !important;
    }
}

@media screen and (min-width: 767px) {
    .case-study-link {
        height: 10em;
    }
}


.case-study-link.tarboosh-clarksville {
    background: radial-gradient(circle, rgb(160, 24, 28),
        rgb(132, 21, 26))
        no-repeat scroll 0% 0% rgb(132, 21, 26);
    text-align: right;
    color: #ddd;
}

.case-study-link.dj-ahlure {
    background: #fff;
}

.case-study-link.qaaw-dating {
    background: #380048;
    text-align: right;
    color: #ccc;
}
