@tablet: 768px;
@sm-screen: 992px;
@screen: 1200px;

@white: #FDFBF3;
@light-blue: #E9F8E3;
@blue-grey: #667572;
@blue-black: #141414;
@rich-red: #AD1616;
@dark-grey: #190404;

@navbar-bg: @blue-grey;
@navbar-button: @rich-red;
@navbar-hover: @light-blue;
@navbar-a-hover: @blue-grey;

@left-panel-inset: @dark-grey;

@sidebar-copy: @rich-red;

@cs-img-border: @blue-black;
@cs-img-shadow: @blue-black;

@logo-bg: @blue-black;
@body-bg: @white;
@contact-cta: @rich-red;

@hex-bg: @rich-red;

@body-fg: @blue-black;

@import 'util.less';
@import 'pages.less';
@import 'hexes.less';

@font-face {
    src: url('/font/engravers-gothic-bt.ttf');
    font-family: "Engravers";
    font-weight: 700;
}

@font-face {
    src: url('/font/chaparral-pro.otf');
    font-family: 'ChaparralPro';
}

@font-face {
    src: url('/font/kozgo-pro.otf');
    font-family: 'KozGo-Pro';
}

html, body { height: 100%; width: 100%; }
body { color: @body-fg; }

h1,h2,h3,h4,h5,h6 {
    font-family: Engravers, Helvetica, sans-serif;
    letter-spacing: 7px;
}

h1, .h1 { font-size: 46px; }
h2, .h2 { font-size: 40px; }
h3, .h3 { font-size: 34px; }
h4, .h4 { font-size: 28px; }
h5, .h5 { font-size: 22px; }
h6, .h6 { font-size: 16px; }

.sig {
    font-family: Engravers, Helvetica, sans-serif;
    font-size: 28px;
    letter-spacing: 7px;
}

p {
    font-family: KozGo-Pro, 'Times New Roman', serif;
    font-size: 20px;
}

/* Nav */

.button(@color) {
    background: @color;
    border-bottom: 3px solid darken(@color, 15%);
    //box-shadow: 0px 5px 0 -3px darken(@color, 15%);
    color: lighten(@color, 60%);
    //border-radius: 3px;
    text-align: center;
    &:active {
        background: darken(@color, 25%);
        box-shadow: inset 0 0 4px 1px darken(@color, 40%);
        border-bottom: none;
        color: @color;
    }
}

.nav-button {
    font-size: 28px;
    font-family: Engravers, Helvetica, sans-serif;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;

    .button(@navbar-button);

    background: url('/img/menu-button.png') repeat-y center;
    background-color: @navbar-button;
}

.nav-bar[role="navigation"] {
    background: @navbar-bg;
    background: url('/img/abstract-wide.jpg') 0 0 no-repeat;
    font-size: 22px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
        }
    }
    ul li a {
        display: block;
        text-decoration: none;
        color: #ddd;
    }
    ul li {
        padding: 0.3em;
        &:hover,
        &:active {
            background: @navbar-hover;
            a { color: @navbar-a-hover; }
        }
    }
}

.nav-bar[role="navigation"].active {
    height: 4em;
}

@media screen and (min-width: @sm-screen) {
    .left-panel,
    .right-panel,
    .nav-bar[role="navigation"] {
        transition: margin 0.2s ease-out;
        -o-transition: margin 0.2s ease-out;
        -moz-transition: margin 0.2s ease-out;
        -webkit-transition: margin 0.2s ease-out;
    }
    .nav-bar[role="navigation"] {
        background: url('/img/abstract.jpg') 0 0 no-repeat;
        height: 100%;
        width: 18%;
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 2em;
        padding-top: 2em;
    }

    .nav-bar[role="navigation"].active {
        margin-left: 0;
        height: 100%;
    }

    .left-panel.active {
        margin-left: 18%;
    }

    .right-panel.active {
        margin-right: -18%;
        float: right;
    }
}

/* Layout
 **************************************/
.page-wrap {
    height: 100%;
}

.left-panel {
    float: none;
    background: #bbb;
    background: url('/img/landscape.jpg') 0px -400px no-repeat;
    box-shadow: 0px 0px 2px 0px #111,
        inset 0px -2px 0px 0px @left-panel-inset;
    border-bottom: 1px solid #b7acac;
    min-height: 134px;
    padding-bottom: 1em;
    z-index: 1;
    .logo-container {
        background: @logo-bg;
        padding: 0.3em;
        //border-bottom: 4px solid #1D0202;
        box-shadow: 1px 9px 0 -7px #1D0202;
        //box-shadow: 1px 11px 2px -7px #111;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .controls {
        .nav-button {
            float: left; 
            margin-left: 15px;
            margin-top: 15px;
        } 

        .fb-button {
            float: right; 
            margin-right: 15px;
            margin-top: 15px;
        }

        .mail-icon {
            width: 50px; 
            height: 50px;
            margin-top: 15px;
            margin-right: 15px;
            float: right;
            display: block;
            background: url('/img/mail-icon.png') no-repeat;
        }
    }

    .sidebar {
        display: none;
        clear: both;
        background: @white;
        background: rgba(253, 251, 243, 0.6);
        //border-bottom: 4px solid #CB5F2E;
        box-shadow: 0px 9px 0px -6px #640000;
        margin: 0 auto 0;
        width: 90%;
        padding: 1em;
        margin-top: 10em;
        text-align: center;
        p {
            font-size: 22px;
        }
        .cta {
            font-family: "Engravers", Helvitca, sans-serif; 
        }

        .email-cta {
            margin-top: 24px; 
            font-family: "Engravers", Helvitca, sans-serif; 
        }

        p.phone {
            font-size: 24px;
            font-weight: bold;
            color: @sidebar-copy;
        }

        .email {
            font-size: 20px; 
            color: @sidebar-copy;
        }
    }
}

.right-panel {
    background: @body-bg;
    min-height: 100%;
    float: none;
    overflow: hidden;
}

@media screen and (min-width: @sm-screen) {
    .left-panel {
        border-right: 1px solid #B7ACAC;
        box-shadow: -2px 0 2px 1px #111,
            inset -2px 0 0 0px @left-panel-inset;
        background: url('/img/landscape.jpg') 0px 0px no-repeat;
        width: 26%;
        height: 100%;
        padding: 0;
        position: fixed;
        margin-left: 0%;
        .logo-container {
            margin-right: 6px;
            margin-left: 6px;
        }

        .sidebar {
            display: block;
        }
    }

    .right-panel {
        width: 74%;
        float: right;
        height: auto;
    }
}


/* Portfolio Links
 *************************************/
.case-study-links {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
    .case-study-link {
        display: block;
        width: 100%;
        height: 160px;
        background: #eee;
        text-decoration: none;
        &:active,
        &:hover {
            background: #ddd;
        }
        span {
            text-align: center;
            display: block;
            font-family: Engravers;
            font-size: 18px;
            color: @contact-cta;
            letter-spacing: 6px;
            line-height: 160px;
        }
    }
    .tarboosh {
        background-image: url('/img/tarboosh-link-banner-sm.png') -10000px -10000px;
        background-color: @white;
        &:active,
        &:hover {
            background-image: url('/img/tarboosh-link-banner-sm.png');
            span {
                color: @white;
            }
        }
    }
    .cafe-de-light {
        background-image: url('/img/cafedelight-link-banner-sm.png') -100000px -100000px;
        background-color: @white;
        &:active,
        &:hover {
            background-image: url('/img/cafedelight-link-banner-sm.png');
            span {
                color: @white; 
            }
        }
    }
    .dj-ahlure {
        background-image: url('/img/ahlure-link-banner-sm.png') -100000px -100000px;
        background-color: @white;
        &:active,
        &:hover {
            background-image: url('/img/ahlure-link-banner-sm.png');
            span {
                color: @white; 
            }
        }
    }
}

@media screen and (min-width: @tablet) {
    .case-study-links {
        .cafe-de-light {
            background-image: url('/img/cafedelight-link-banner-lg.png') -10000px -10000px;
            background-color: @white;
            &:active,
            &:hover {
                background-image: url('/img/cafedelight-link-banner-lg.png');
                span {
                    color: @white;
                }
            }
        
        } 
        .tarboosh {
            background-image: url('/img/tarboosh-link-banner-lg.png') -10000px -10000px;
            background-color: @white;
            &:active,
            &:hover {
                background-image: url('/img/tarboosh-link-banner-lg.png');
                span {
                    color: @white;
                }
            }
        }
        .dj-ahlure {
            background-image: url('/img/ahlure-link-banner-lg.png') -100000px -100000px;
            background-color: @white;
            &:active,
            &:hover {
                background-image: url('/img/ahlure-link-banner-lg.png');
                span {
                    color: @white;
                }
            }
        }
    }
}

@media screen and (min-width: @tablet) {
    .case-study-links {
        .case-study-link {
            height: 300px;
            span {
                line-height: 300px;
                font-size: 36px;
            }
        }

    }

}
