.content.container {
    width: 80%;
    padding-bottom: 2em;
    img {
        border: 1px solid @cs-img-border;
        //box-shadow: 0 4px 4px -2px @cs-img-shadow;
        box-shadow: 0px 9px 0px -6px #2C0303;
        margin-top: 35px;
    }
    img.except { border: none; box-shadow: none; }

    p { margin-top: 40px; }
}

.content .caption {
    font-size: 24px;
    text-align: center;
    margin-top: 1em;
}

.banner {
    height: 296px;
    border-bottom: 1px solid @cs-img-border;
    border-top: 1px solid @cs-img-border;
}

@media screen and (min-width: @tablet) {
    .content.container {
        width: 80%;
    }
}

/* Index
 *************************************/
.index .bg-wrappa {
    background: url('/img/elcg-mask.png') no-repeat 50% 50%;
    background-size: 47%;
}

.index.content {
    .headline {
        border-bottom: 4px solid #1D0202; 
    }
    .about-us {
        //background: rgb(253, 251, 243);
        //background: rgba(253, 251, 243, 0.68);
        background: transparent;
    }

    .deck { font-size: 28px; }

    .contact-cta {
        width: 100%;
        padding: 1em;
        padding-bottom: 2em;
        color: darken(@contact-cta, 30%);
        margin-top: 1em;
        text-align: center;
        clear: both;
        h2 { font-size: 28px; }
    }

}

@media screen and (min-width: @tablet) {
    .index.container {
        .contact-cta {
            margin: 3em auto 0;
            h2 { font-size: 34px; }
            h1 {
                margin-top: 40px; 
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (min-width: @screen) {
    .index.container .contact-cta h2 { font-size: 40px; }
}

/* Tarboosh
 *************************************/
.tarboosh.banner {
    background: url('/img/banner.png') center no-repeat;
    background-size: cover;
}

/* Cafe de Light
 *************************************/
.cafedelight.banner {
    background: url('/img/cdl-banner.png') center no-repeat;
    background-size: cover;
}

/* Blog
 *************************************/
.right-panel.blog {
    background: #fff; 
}
.blog.content {
    .coming-soon {
        background: url('/img/blog-placeholder.png') no-repeat;
        height: 69px;
        width: 617px;
        margin: 4em auto;
    }
}

