html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.swatch.one {
    height: 100%;
    .card {
        height: 16.666666%;
    }
    .card.six { background: #F8F7EA; }
    .card.five { background: #E9F8E3; }
    .card.two { background: #8ADAC0; }
    .card.one { background: #667572; }
    .card.three { background: #141414; }
    .card.four { background: #02225D; }
    .card.seven { background: #BE4E66; }
}


