footer#contact-us
  .container
    .row
      .col-sm-4
        h3 E|L Creative Group
        ul.site-nav
          li
            a(href="/") Home
          li
            a(href="/our-work") Our Work
          li
            a(href="/about-us") About Us
          li
            a(href="http://blog.elcreativegroup.com") Blog
          li
            a(href="/#contact") Contact Us

        .social-media
          a.facebook(target="_blank", href="https://www.facebook.com/elcreativegroup")
            img(src="/img/fb.png")

          a.instagram(target="_blank", href="https://instagram.com/helloelcg")
            img(src="/img/instagram.png")

          a.twitter(target="_blank", href="https://twitter.com/helloelcg")
            img(src="/img/twitter.png")

      .col-sm-4
        .address
          h3 Call us
          p
            a(href="tel:19313041009")
              button.btn.btn-elcg (931) 304-1009


          h3 Or email
          p
            a(href="mailto:info@elcreativegroup.com")
              button.btn.btn-elcg info@elcreativegroup.com

      .col-sm-4
        blockquote
          p.
            "In most people's vocabularies, design means veneer. It's interior
            decorating. It's the fabric of the curtains of the sofa. But to me,
            nothing could be further from the meaning of design. Design is the
            fundamental soul of a human-made creation that ends up expressing
            itself in successive outer layers of the product or service."
          cite Steve Jobs

    .row
      .col-sm-12
        .pull-left
          p.copyright E|L Creative Group &copy;2014
