footer#contact-us
  .container
    .row
      .col-sm-4
        h3 E|L Creative Group
        ul.site-nav
          li
            a(href="/") Home
          li
            a(href="/our-work") Our Work
          li
            a(href="/about-us") About Us
          li
            a(href="/#contact") Contact Us
          li
            a(href="/faq") FAQ

      .col-sm-4
        .address
          h3 Call us
          p
            a(href="tel:19313041009")
              button.btn.btn-elcg (931)304-1009


          h3 Or email
          p
            a(href="mailto:info@elcreativegroup.com")
              button.btn.btn-elcg info@elcreativegroup.com

      .col-sm-4
        h1 Fill out our Project Planner

    .row
      .col-sm-12
        .pull-left
          p E|L Creative Group &copy;2014
