nav.navbar.navbar-elcg.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
        p Nav

    #navbar-collapse.navbar-collapse.collapse
      img.logo(src="/img/logo_nav.png").center-abs.hidden-xs

      ul.nav.navbar-nav.navbar-left
        li
          a(href="/") Home
        li
          a(href="/#our-work") Our Work


      ul.nav.navbar-nav.navbar-right
        li
          a(href="/about-us") About Us
        li
          a(href="/#contact-us") Contact
        li
          a(href="/faq") FAQ
