.bg-wrap.rrs-project-file
    h1
        font-size 36px

    h2
        font-size 24px

    h1, h2, h3
        margin-top 0
        color $white

    .what-we-did, h1, h2, h3, p
        background-color $black-alpha
        padding 1em
        margin-bottom 1em

    img
        margin-bottom 1em
