.bg-wrap.our-work
    background-image url("/img/abstract-bg.jpg")
    background-attachment fixed

    .header
        background-color $black-alpha
        padding 4em
        margin-bottom 4em

        h1
            color $blue
            margin-top 0

        h2
            color $white
            margin-bottom 20px

    .footer
        margin-bottom 4em

    .current-gigs
        margin-bottom 4em

    .footer
        p
            font-size 26px
