.bg-wrap.project-planner
    background-image url("/img/abstract-bg.jpg")
    background-attachment fixed

    p.lead
       font-size 30px

    .header
        background-color $black-alpha
        h1
            color $blue
        margin-bottom 4rem
