.bg-wrap.kate-dyer
    h1, h2, p, li
        color: $black;

    li
        padding-left: 20px;

header.kate-dyer
    background-color: $black;
    position: relative;
    padding-bottom: 0;

    @media screen and (min-width: $tablet)
        height: 600px;
        background-position: center center;
        background-image: url("/img/dyer_banner.jpg");
        background-repeat: no-repeat;

    h1
        color: $white;
        padding: 1em;
        text-align: center;

        @media screen and (min-width: $tablet)
            padding: 0;
            text-align: right;
            font-size: 68px;
            width: 66%;
            position: absolute;
            top: 25%;
            right: 8%;

article.kate-dyer
    padding-top 4em
