.social-media-footer
    background-color $footer-bg

footer
    background-color $footer-bg
    background-image url('/img/footer_bg.png')
    padding-top 6rem
    padding-bottom 2rem

    background-repeat no-repeat

    .site-nav
        padding-left 5px

    .social-media
        img
            width 60px

    blockquote
        padding 0 10px
        border-left 2px solid $white
        cite
            font-size 22px

    @media (min-width $tablet)
        background-position center -15px
        min-height 250px

    a
        color $anchor-color

    p
        margin-top 20px
        font-size 18px

    cite
        color $white

    .copyright
        margin-top 30px
