ul li
    list-style none

center-abs($object-width)
    position absolute
    left 50%
    right 50%
    margin-left (-($object-width / 2))

// pass a string
transform($func)
    -webkit-transform $func
    -moz-transform $func
    -ms-transform $func
    -o-transform $func
    transform $func

.has-error
    .form-control
        border-color #a94442

    label
        color $form-error

.success
    color $form-success

.spaced-out
    letter-spacing 7px
